.img-thumb {
    max-width: 180px;
    max-height: 120px;
}
table.vmiddle > tbody > tr > td {
    vertical-align: middle;
}

table.hover-row > tbody > tr:hover > td {
    background-color: #ccc;
    cursor: pointer;
}
table.random-mars {
    width: 100%;
}
table.random-mars img {
    max-width: 100%;
}
.random-mars-flex {
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap;
}
.random-mars-flex-content {
    width: 50%; 
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    justify-content: space-evenly;
    text-align: center;
}
.random-mars-flex-content img {
    max-width: 95%;
    margin-bottom: 0.2em;
}
break{
    flex-basis: 100%;
    width: 0px; 
    height: 0px; 
    overflow: hidden;
}
.gallery-item {
    display: inline-block;
    margin: 0.5rem;
    text-align: center;
    max-width: 200px;
    overflow: hidden;
}
.abs-top-left {
    position: absolute;
    top: 5px;
    right: 5px;
}
.fade-in {
    opacity: 0.5;
}
.fade-in:hover {
    opacity: 1;
}
.small-text {
    font-size: 80%;
    font-style: italic;
}

/* own container, devices are fluid */
@media screen and (min-width: 1200px) {
    .own-container {
        width: 1140px;
        max-width: 100%;
    }
}

@media screen and (min-width: 992px) {
    .own-container {
        width: 960px;
        max-width: 100%;
    }
}

.own-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
}
.no-button {
    border: 0;
    -webkit-appearance: inherit;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
}

.row-highlight {
    background-color: paleturquoise !important;
}

.one-char-width {
    width: 1em;
}