.img-thumb {
    max-width: 180px;
    max-height: 120px;
}
table.vmiddle > tbody > tr > td {
    vertical-align: middle;
}

table.hover-row > tbody > tr:hover > td {
    background-color: #ccc;
    cursor: pointer;
}
.gallery-item {
    display: inline-block;
    margin: 1rem;
    text-align: center;
    max-width: 200px;
    overflow: hidden;
}
.abs-top-left {
    position: absolute;
    top: 5px;
    right: 5px;
}
.fade-in {
    opacity: 0.5;
}
.fade-in:hover {
    opacity: 1;
}