.img-thumb {
    max-width: 180px;
    max-height: 120px;
}
table.vmiddle > tbody > tr > td {
    vertical-align: middle;
}

table.hover-row > tbody > tr:hover > td {
    background-color: #ccc;
    cursor: pointer;
}